<!DOCTYPE html>
<html>
<head>
  <title>Accesco Assistant</title>

  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

  <style>
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f8fafc;
      font-family: system-ui;
    }
  </style>
</head>
<body>

<df-messenger
  intent="WELCOME"
  chat-title="Accesco Assistant"
  agent-id="8beafa4a-339b-44ff-a386-62d386a2481b"
  language-code="en">
</df-messenger>

</body>
</html>